/* reset styles*/
body{
  margin: 0;
  padding: 0;
  border: 0;
}

/* color palette
  teal = #78F9DA
  yellow = #FEB652
  pink = #FD8C7A*/

.navbar {
  font-family: 'Open Sans', sans-serif;

}

.nav-item{
text-decoration: none !important;
  padding: 2px;
}

.nav-item:hover {
  background-color: #FEB652;
}

@media (max-width: 576px) {
  .nav-item{
    display: none;
  }
}
